spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/drimain
    username: drimain
    password: drimain
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG

# JWT (możesz wstrzyknąć do JwtService zamiast stałej)
app:
  jwt:
    secret: "REPLACE_WITH_STRONG_SECRET_AT_LEAST_32_CHARS_LONG_1234567890"
    ttl-seconds: 3600