<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="prod">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{ISO8601} %-5level [%thread] %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.springframework.security" level="INFO"/>
  </springProfile>

  <springProfile name="dev">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
  </springProfile>
</configuration>